.bg-info{
    background-color: #139b67 !important;
}

.bg-danger {
    background-color: #13699b !important;;
}

.bg-dark{
    background-color: #139b67 !important;
}

.btn-secondary {
    background-color: #b3c618 !important;
}

.btn-outline-primary{
    background-color: #68a0be !important;
}